body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.box1 {
    background-color:#1F2937;
    box-sizing: border-box;
    height: 530px;
}

h4 {
    margin-top: -150px;
    padding-top: 100px;
    padding-left: 180px;
    color: #e5e7eb;
    font-size: 18px;
    display: inline;
    
}

.scenery {
    padding-left: 800px;
    margin-top: -200px;
    width: 500px;
    height: relative;
}

button {
    
    color: #F9FAF8;
    font-size: 20px;
    background-color: #3882F6;
    margin-left: 200px;
    margin-bottom: 700px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    gap: 40px;
    margin-left: 1600px;
    margin-top: -200px;
    
}

h2 {
    color: #f9faf8;
    font-weight: 900px;
    font-size: 48px;
    padding-left: 250px;
    padding-top: 100px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 250px;
    padding-right: 1100px;

}

.box2 {
    height: 530px;
}

h5 {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    padding-top: -100px;
    padding-left: 750px;
}

.pictures {
    display: inline-flex;
    padding-left: -500px;
    margin-left: 300px;
    margin-top: 50px;
}

.subtext {
    display: inline-flex;
    margin-left: 250px;
    padding-left: 100px;
    text-align: justify;
    gap: 20px;
}

.box3 {
    background-color: #e5e7eb;
    box-sizing: border-box;
    height: 530px;
}

.quote {
    text-align: left;
    padding-top: 200px;
    padding-right: 250px;
    margin-left: 200px;
    font-size: 36px;
    font-weight: 300px;
    color: #1F2937;

}

.author {
    color: #1F2937;
    font-size: 25px;
    font-style: italic;
    padding-left: 1200px;
    padding-right: 0;
}

.box4 {
    margin-block: #ffffff;
    margin: 100px;
}

h6 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 300px;
    font-size: 25px;
    color: #e5e7eb;
    background-color: #3882F6;
}

.action {
    padding-right: 200px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 300px;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882F6;

}

.button2  {
    padding-left: 400px;
}